@import "./variables.scss";

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto Mono";

  button,
  input {
    font-family: "Roboto Mono";
  }

  button {
    padding: 10px;
    border: none;
    background-color: $button-color;

    &:hover {
      cursor: pointer;
      background-color: $button-hover-color;
    }

    &:active {
      background-color: $button-color;
    }
  }

  .atm-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 400px;

      button {
        padding: 10px;
      }
    }

    .menu-container {
      padding: 20px;

      .deposit-menu,
      .withdraw-menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        .number-form {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 400px;

          button {
            padding: 4px;
          }
        }
      }
    }
  }
}
